@media (max-width: 900px) {
  .fa-bars {
    display: block;
  }
  nav {
    display: none;
  }
}
@media (max-width: 650px) {
  .text_div h2 {
    font-size: 175%;
  }
  .text_div h5 {
    font-size: 10px;
  }
}
@media (max-width: 775px) {
  .s-2flex {
    flex-direction: column;
  }
  .infowrapper {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .cardwrepper {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}
